@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 /*min-height: 100vh;*/
  /*justify-content: center;*/
}


.main1{
  width: 100%;
}


nav{
  width: 100%;
  background-color: black;
  height: 80px;
  line-height: 80px;
  display: flex;
  justify-content: space-between;
  padding-right: 120px;
}

a{
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}


.logo1 a{
  font-size: 45px;
  color: salmon;
  font-weight: bold;
}


ul{
  margin: 0px;
}
ul li{
  float: left;
  padding: 0px 10px;
  list-style: none;
}
ul li a{

}
ul li a:hover{
  text-decoration: underline;
  color: salmon;
}
ul li a:active{
  opacity: 0.4;
  color: #9b514b;
}


i{
  color: #fff;
  cursor: pointer;
}
i:hover{
  color: salmon;
}

.content{
  display: flex;
  justify-content: center;
  text-align: justify;
}
.content h1{
  color: #fff;
}
.content p{
  color: #fff;
}


.header{
  background: url("https://as1.ftcdn.net/v2/jpg/02/67/56/80/1000_F_267568050_gKkcBAI5XkpEHNpipkx2aIarNbwarCRN.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  opacity: 0.8;
}
