@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
background: url("https://as1.ftcdn.net/v2/jpg/02/67/56/80/1000_F_267568050_gKkcBAI5XkpEHNpipkx2aIarNbwarCRN.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  backdrop-filter: blur(6px);
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  background: #5b7091;
}
.logo{
  width: 50px;
  margin-right: auto;
  cursor: pointer;
}

.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-block;
  padding: 10px;
  margin-right: 20px;
}
.nav_links li a{
  text-decoration: none;
  color: salmon;
}
.nav_links li a:hover{
  color: white;
  text-decoration: underline;
}
i{
  color: #ffffff;
}
i:hover{
  color: salmon;
  cursor: pointer;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

h2{
  font-size: 50px;
  margin-bottom: 10px;
  /*color: salmon;*/
}
p{
  font-size: 20px;
  margin-bottom: 20px;
  /*color: salmon;*/
}

button{
  width: 30%;
  border-radius: 20px;
  height: 45px;
  box-shadow: 0 3px #555555;
  background-color: transparent;
  color: #666666;
}
button:hover{
  cursor: pointer;
  /*transition: 2s ease;*/
 background-color:salmon;
  transform: scale(1.08);
}
button:active{
  box-shadow: 0 5px #736e6e;
  opacity: 0.5;
  transform: translateY(5px);
}
